li {
  position: sticky;
  border: 1px solid rgb(179, 170, 170);
  border-radius: 10px;
  height: 80px;
  list-style-type: none;
  margin-right: 30px;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}

li:hover {
  box-shadow: inset 75px 0 0 0 #b2cad3;
}

.title {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  left: 80px;
}

.score {
  position: absolute;
  font-size: 20px;
  left: 20px;
  top: 25px;
  height: 30px;
  width: 30px;
  color: rgb(30, 172, 65);
  font-weight: 700;
}

.author {
  position: absolute;
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
  right: 30px;
  bottom: 10px;
}

.comments {
  position: absolute;
  font-size: 14px;
  opacity: 0.5;
  left: 80px;
  bottom: 10px;
  font-weight: 600;
}
