.headerTitle {
  font-size: 55px;
  text-align: center;
  font-weight: 500;
}

.reloadButton {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0.6;
  left: 50px;
  top: 25px;
  cursor: pointer;
  transition: .4s ease-in-out;
}
.reloadButton:hover {
  height: 45px;
  width: 45px;
  rotate:260deg;
}
